<%- include('../partials/html-head')  %> 
<%- include('../partials/nav')  %>

<main>
<h1><%= title %></h1>
<div>
  Airline: <%= flight.airline %>
</div>
<div>
  Airport: <%= flight.airport %>
</div>
<div>
  Flight #<%= flight.flightNo %>
</div>
<div>
  Departure: <%= flight.departs %>
</div>
<a href="<%= flight.id %>/edit">Edit Flight Details</a>
<div>Menu:</div>
    <ul>
      <% flight.meals.forEach(meal => { %>
        <li><%= meal.name %></li>
      <% }) %>
    </ul>
<form action="/flights/<%= flight.id %>/meals" method="POST">
  <select name="mealid">
    <% meals.forEach(meal => { %>
      <option value="<%= meal.id %>"><%= meal.name %></option>
    <% }) %>
  </select>
  <button type="submit">Add Meal</button>
</form>
<div>
  <h3>Tickets</h3>
  <form action="/flights/<%= flight._id %>/tickets" method="POST">
    <label for="seat-input">Seat:</label>
    <input type="text" name="seat" id="seat-input">
    <label for="price-input">Price</label>
    <input type="number" name="price" id="price-input">
    <button type="submit">Add Ticket</button>
  </form>
  <% if (flight.tickets.length) { %>
    <ul>
      <% flight.tickets.forEach(function(ticket) {  %>
        <li>
            Seat #<%= ticket.seat %> -- Cost: $<%= ticket.price %>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <h3>Saved tickets will be displayed here!</h3>
  <% } %>
</div>
</main>

<%- include('../partials/footer')  %> 